{% extends "base.html.twig" %}

{% block body %}

<h1>
{% if editMode %}
    Modification d'un article
{% else %}
    Création d'un article
{% endif %}
</h1>
{# {{ form(formArticle) }} #}

{{ form_start(formArticle, {
    attr:{
        novalidate: 'novalidate'
    }
}) }}

{{ form_row(formArticle.title, {
    label: "Titre",
    attr: {
        placeholder: "Titre de l'article"
    }
}) }}
{{ form_row(formArticle.content,{
    label: "Description",
    attr: {
        placeholder: "Description de l'article"
    }
})  }}
{{ form_row(formArticle.image) }}


{% if editMode %}
<button type="submit" class="btn btn-primary mt-2">Enregistrer</button>
{% else %}
<button type="submit" class="btn btn-primary mt-2">Ajouter</button>
{% endif %}


{{ form_end(formArticle) }}

{% endblock %}